<html>
<head>
<title>Smoothie V2 - Extension Board</title>
</head>
<body>
<h1>SmoothieBoard V2</h1>
<h2>Extension Board</h2>

<p>This project template is the basis of an extension board for the
<a href="http://smoothieware.org/smoothieboard" target="blank">SmoothieBoard V2.</a></p>

<p>This board shall conform to the <a
href="https://docs.google.com/document/d/144EbmhN6z-J2V_Zw7GfJpZrfD-B0dC3cuea9oWPgxNM/edit?usp=sharing">Smoothie
Extension Board Specification</a></p>

<p>Here is a picture of the SmoothieBoard V1, this is a placeholder:</p>

<p><img src="image001.png"></p>

<p>CERN OHL<br></p>
</body>
</html>
